
/* task-item */

article.item {
    padding: 0 2ch 1ch;
}

.item {
    margin: 2ch;
    padding: 2ch;
    border: 2px solid #a2a2a2;
    border-radius: 2ch;
}

.item h3,
.item p {
    margin: 1ch 0;
}  


.urgent {
    font-weight: 700;
    color: red;
}

.urgent::before {
    content: '('; 
}

.urgent::after {
    content: ')';
}

.priority {
    margin-left: 2ch;
}


/* todo-list */
.complete {
    background-color: #a2a2a2;
}
