table {
    border: 1px solid #a2a2a2;
    /* border-spacing: 5px 1rem; */
    border-spacing: 0;
}


th, td {
    border: 1px solid #a2a2a2;
    min-width: calc(2rem + 10ch);
}

td {
    padding-left: 1.5rem;
}

.textCenter {
    padding-left: 0; 
    text-align: center;
}

.pricePromo {
    color: red;
    font-weight: 500;
}